apiVersion: apps/v1
kind: Deployment
metadata:
  name: pve-exporter
  namespace: observability
  labels:
    app: pve-exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pve-exporter
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: pve-exporter
    spec:
      containers:
        - name: pve-exporter
          image: prompve/prometheus-pve-exporter:{{ pve_exporter_version }}
          ports:
            - containerPort: 9221
              name: http
          volumeMounts:
            - name: auth-config
              mountPath: /etc/prometheus
              readOnly: true
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 100m
              memory: 128Mi
          livenessProbe:
            httpGet:
              path: /
              port: 9221
            initialDelaySeconds: 30
      volumes:
        - name: auth-config
          secret:
            secretName: pve-exporter-auth
