apiVersion: v1
kind: Secret
metadata:
  name: pve-exporter-auth
  namespace: observability
stringData:
  pve.yml: |
    default:
      user: "prom-exporter@pve"
      token_name: "pve-exporter"
      token_value: "{{ lookup('env', 'PVE_EXPORTER_TOKEN') | mandatory }}"
      verify_ssl: false
