**/uv.lock

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
!terraform/terraform.tfvars
terraform/.terraform.lock.hcl

# Ansible
ansible/*.retry
ansible/vault_pass
ansible/.vault_pass
ansible/collections/ansible_collections

# Secrets
!.env.example.nu
.env*.nu
*.pem
*.key

.DS_Store
