apiVersion: v1
kind: ConfigMap
metadata:
  name: beets-config
  namespace: media
data:
  config.yaml: |
    directory: /music
    library: /music/.beets/library.blb

    paths:
      default: $albumartist/$album/$title
      singleton: Non-Album/$artist/$title
      comp: Compilations/$album/$title

    import:
      move: false
      copy: false
      write: true
      resume: yes
      quiet: true
      quiet_fallback: asis
      timid: false
      incremental: true
      group_albums: yes
      log: /music/.beets/beets.log

    match:
      strong_rec_thresh: 0.20
      max_rec:
        missing_tracks: strong
        unmatched_tracks: strong
      va_cutoff: 0.5

    plugins: chroma fetchart embedart lyrics lastgenre replaygain mbsync musicbrainz

    acoustid:
      apikey: {{ lookup('env', 'ACOUSTID_APIKEY') | mandatory }}

    art_filename: cover
    fetchart:
      auto: true
      sources: filesystem itunes albumart coverart
    embedart:
      auto: true
      maxwidth: 500
    lyrics:
      auto: true
      sources:
        - lrclib
    lastgenre:
      auto: yes
      source: album
      apikey: {{ lookup('env', 'LASTFM_API_KEY') | mandatory }}
    replaygain:
      backend: ffmpeg
      overwrite: no

