apiVersion: v1
kind: ConfigMap
metadata:
  name: beets-config
  namespace: media
data:
  config.yaml: |
    directory: /music
    library: /music/.beets/library.blb

    import:
      move: false
      copy: false
      write: false
      resume: yes
      quiet: true
      quiet_fallback: asis
      timid: false
      incremental: true
      log: /music/.beets/beets.log

    plugins: fetchart embedart lyrics

    art_filename: cover
    fetchart:
      auto: true
    embedart:
      auto: true
    lyrics:
      auto: true
      sources:
        - lrclib
        - genius

