---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nextcloud-db-pv
spec:
  capacity:
    storage: {{ media_stack_nextcloud_db_size }}
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  hostPath:
    path: /opt/nextcloud/db
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nextcloud-db-pvc
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ media_stack_nextcloud_db_size }}
  storageClassName: ""
  volumeName: nextcloud-db-pv
