apiVersion: v1
kind: ConfigMap
metadata:
  name: lidarr-config
  namespace: media
data:
  config.xml: |
    <Config>
      <BindAddress>*</BindAddress>
      <Port>8686</Port>
      <SslPort>6969</SslPort>
      <EnableSsl>False</EnableSsl>
      <LaunchBrowser>False</LaunchBrowser>
      <ApiKey>{{ lookup('env', 'ARR_API_KEY') | mandatory }}</ApiKey>
      <AuthenticationMethod>External</AuthenticationMethod>
      <Branch>master</Branch>
      <LogLevel>info</LogLevel>
      <SslCertPath></SslCertPath>
      <SslCertPassword></SslCertPassword>
      <UrlBase></UrlBase>
      <UpdateMechanism>Docker</UpdateMechanism>
      <AnalyticsEnabled>False</AnalyticsEnabled>
      <InstanceName>Lidarr</InstanceName>
    </Config>
