[defaults]
inventory          = inventory/hosts.yml
remote_user        = ubuntu
private_key_file   = ~/.ssh/casshome
host_key_checking  = False
stdout_callback    = yaml

[privilege_escalation]
become = True
