[defaults]
inventory          = inventory/hosts.yml
private_key_file   = ~/.ssh/casshome
host_key_checking  = False
roles_path         = roles
stdout_callback    = ansible.builtin.default
result_format      = yaml
collections_path = ./collections

[privilege_escalation]
become = False
