[defaults]
inventory          = inventory/hosts.yml
remote_user        = ubuntu
private_key_file   = ~/.ssh/casshome
host_key_checking  = False
roles_path         = roles
stdout_callback    = ansible.builtin.default
result_format      = yaml

[privilege_escalation]
become = True
